<!DOCTYPE html> 
  
<html lang = "en"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutographX - YearBook</title> 
    <!--add links to style sheets and bootstrap-->
    <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}"> 

</head> 
<body> 
 <div class="cover" >
    <img src = "{{url_for('static',filename = 'cover.png') }}" class = "logo" style="height:1500px; width:3050px;"
    
    > <br>
    </div>
  
<ol> 
<!-- For loop logic of jinja template -->
  <div class="row">
   {%for i in range(0, len)%} 
     <div class="column ">
     <div class="card">
      <img src="{{url_for('static',filename = autos[i]['Image'][0]) }}"   alt="Cinque Terre" width="600" height="400">
     <h1><button onclick="{{url_for("whiteauto.html",filename = 'whiteauto.html') }}">{{autos[i]["Name"]}}</button> </h1>
        <p style="font-size:xx-large; " >{{autos[i]["Quote"]}}</p> 
  </div>
</div>
</div>

{%endfor%} 
  
</ol> 
<script src="{{url_for('static', filename='index.js')}}"></script>
<script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">  </script>
</body> 
</html> 