<!DOCTYPE html> 
  
<html lang = "en"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutographX - YearBook</title> 
    <!--add links to style sheets and bootstrap-->
    <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}" >

</head> 
<body class="main"> 
 <div class="cover" style="margin-bottom:1%;" >
    <img src = "{{url_for('static',filename = 'cover.png') }}" class = "logo" style="width:100%; "
    
    > <br>
    </div>
  
<ol> 
<!-- For loop logic of jinja template -->
   {%for i in range(0, len)%} 
  <div class="column" style="padding-left:3%;"> 
 <div class="flip-card">
      <div class="regular">
    <div class="text ">
      <h1  style="text-align:center;">{{autos[i]['Name']}}</h1>
      <p  style="text-align: center;" >{{autos[i]["Quote"]}}</p>
            <a href="{{ url_for('index_func', name =  autos[i]['Name'] ) }}" target="_blank" title="To the art.">See more</a>

    </div>
  <div class="overlay" ></div>
      <img style="width:1200px;height:1200px;" class="img" src="{{url_for('static',filename = autos[i]['flask_image']) }}" alt="Avatar" style="width:1200px;height:1200px;">
    </div>
</div> 
</div>
</div>
</div>
{%endfor%} 
  
</ol> 
<script src="{{url_for('static', filename='index.js')}}"></script>
<script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">  </script>

</body> 
</html> 