
.main{
  background-color:black;
  font-style: italic;
}


.para{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 900%;
  font-weight: bolder;

}
.para2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 500%;
  font-weight: bolder;

}
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 32%;
  padding: 0px;
  text-align: center;
  display: table-cell;
  color: beige;
  margin-left: 1%;
  vertical-align: middle;
  border-right: 10px solid black;
  border-left: 10px solid black;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 10px 0;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin: 00px , 0;
  }
  
}

/* Style the counter cards */

.flip-card {
  border-style: hidden;
  background-color: black;
  width: 700px;
  height: 1550px;
  perspective: 1000px;
  

}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 80%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  

  
}

.flip-card:hover .flip-card-inner {
 
  transform: rotateX(180deg);
  backface-visibility: visible;

}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 200%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:black;
  color: black;
}

.flip-card-back {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  
  background-color: beige;
  color:black;
  transform: rotateX(180deg);
  


}

